.container {
  width: 80%;
  margin: 2rem auto;
  padding: 3rem;
  background-color: #ffffff;
  border-radius: 30px;
  border: 2px solid #4a376c;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  color: #3b2d70;
  font-family: 'Inter', sans-serif;
}

.title {
  text-align: center;
  font-family: "Jura", sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
  color: #3b2d70;
  margin-bottom: 2.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  gap: 0.5rem;
}

.input, .input_file {
  padding: 0.8rem 1rem;
  border: 2px solid #4a376c;
  border-radius: 10px;
  font-size: 1rem;
  transition: 0.3s;
}

.input:focus {
  border-color: #785AB0;
  outline: none;
  box-shadow: 0 0 6px rgba(120,90,176,0.4);
}

.submit_btn {
  background-color: #3b2d70;
  color: #fff;
  font-weight: 700;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: center;
}

.submit_btn:hover {
  background-color: #785AB0;
  transform: scale(1.05);
}
