

/*Hecho por Esteban*/
.formContainer{
  border-color: #3b2d70;
  border: #3b2d70;
 margin: 0 auto;
  background-color: #FFFFFF;
  width: 40%;
  border: 2px solid #4A376c;
  border-radius: 30px;
  shape-margin: 30px;
 padding: 5%;
  padding-bottom: 5rem;
  font-family: 'inter',sans-serif;
  font-weight: 600;
  color: #785AB0;
}
form.edit-form{
  width: 100%;

}
.register_optical_input{
  width: 80%;
  margin-left: 10%;
}
div.days{
  display: flex; 
  justify-content: center;
   align-items: center;
  margin: 0 auto;
  padding-bottom: 5%;
}
.hours{
 display: flex;
  gap: 20px;
  justify-content: center;
  padding-bottom: 5%;
}
.optical_title {
  font-family: "Jura", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 400%;
  color: #3b2d70;
  margin-bottom: 1.5rem;
}

label.option_day{
  height: 30px;
  width: 10%;
  margin-bottom:0;
  padding: 2%;
}
input.option_check{
   height: 50%;
  width: 50%;
  padding: 0;
  margin:0;
}
.input_file{
  width: 80%;
}

input#file-upload-button{
  color: #3b2d70;
}

.select_optical{
  background-color:#9a86bf;
  border: none;
  color: #FFFFFF;
  border-radius: 15px;
}

.label_form_optical{
  margin-bottom:0 ;
  padding-top: 2%;
}


/*acomodar los contenedores en dos columnas*/
.grid_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}