.edit-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #444;
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 8rem;
  min-height: calc(100vh - 80px);
}

.edit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a884f7;
  padding: 1rem 2rem;
  height: 80px;
  position: relative;
}

.edit-logo {
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  font-family: "Poppins", sans-serif;
  gap: 10px;
}

.logo-img {
  width: 70px;  
  height: 50px;
  object-fit: contain;
  margin-right: 3px;
}
.logo-text {
  font-size: 30px;   
  font-weight: 700;
  letter-spacing: 12px;
  color: #fff;
}
.edit-buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  background-color: #7d5cc6;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 80px;
  padding: 0.6rem 1.2rem;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.form-group label {
  font-weight: 700;
  color: #4b3a84;
  margin-bottom: 60px;
  font-size: 1rem;
}

.btn:hover {
  background-color: #9a74e0;
}

.btn.cerrar {
  background-color: #8b5cf6;
}

.btn.cerrar:hover {
  background-color: #a17ff0;
}

/* Botón principal */
.form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.btn.editar {
  background-color: #7d5cc6;
}
.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 700px;
}

.input-with-icon input {
  width: 100%;
  padding: 12px 40px 12px 12px; /* espacio para el ícono */
  border: 2px solid #4b3a84;
  border-radius: 12px;
  font-size: 1rem;
  text-align: center;
  color: #4b3a84;
  transition: 0.3s;
}

.input-with-icon input:disabled {
  background-color: #f5f5f5;
  color: #777;
  cursor: not-allowed;
  opacity: 0.8;
}

.input-with-icon input:focus {
  border-color: #6a4fb5;
  outline: none;
}

.edit-icon {
  position: absolute;
  right: 10px;
  color: #6a4fb5;
  cursor: pointer;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.edit-icon:hover {
  color: #9a74e0;
}

.form-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #3b2d70;
  margin-bottom: 1.5rem;
}
