.nav-links {
   text-align: center;
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: bold;
}
.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px; 
}
.navbar{
    justify-content: left;
    background-color: #7d5cc6;
    padding: 10px 0;
}