
:root{
  background-color: rgb(148, 102, 234);
}


.forms{
  margin: 0 auto;
  margin-top: 5rem;
  background-color: #FFFFFF;
  width: 35rem;
  border: 2px solid #4A376c;
  border-radius: 30px;
  padding: 20px ;
  shape-margin: 30px;
}

h1.registerh1{
  text-align: center;
  font-family: 'jura',sans-serif ;
  letter-spacing: 8px;
  font-weight: bold;
  font-size: 58px;
  color: #4A376c;
  text-align: center;
  margin-bottom: 1rem;
  margin-top:0;

}
h5{
  font-family: 'jura',sans-serif ;
  letter-spacing: 8px;
  margin: 0;
  margin-top: -5px;
}
p{
  margin-top: 0;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
   font-family: 'jura',sans-serif ;
   letter-spacing: 3px;
   font-size: 12px;
  font-weight: 700;

}
.forms{
  color: #785AB0;
  font-family: 'inter', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  
}
.form_register{
  margin:4rem;
  margin-top: 0;
  margin-bottom: 5px;
}
.name{
  display: inline;
  height: 400px;
  width: 200px;
}
.first_name{
  width: 190px;
  display: inline;
}
.last_name{
  width: 190px;
  display: inline;
}
input{
  margin: 0 auto;
  height: 39px;
  width:385px ;
  border-radius: 10px;
  border-style: solid;
  border-image: none;
  border-color: #4A376c;
  border-top-color: #4A376c;
  border-width: 2px;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  font-style:#AC81FC ;
  padding-left: 1rem;
}
input::placeholder {
  color: #AC81FC ; 
  font-family: 'inter', sans-serif;
  font-weight: 550;
  letter-spacing: 1px;
  opacity: 1; 
}

label{
  padding-top:10rem ;
  padding-bottom: 10rem;
  font-size: 12px;
}
button[type="submit" i]{
  font-family: 'jura',sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 15px;
  border: none;
  background-color: #4A376c;
  color: #FFFFFF;
  width: 179px;
  height: 59px;
}
.container_submit{
  text-align: center;
}
.img_register{
  text-align: center;

}
img{
  width: 78px;

}
.foot{
  display: inline;
  margin-left: 6rem;
  margin-right: 0;
}
.login_link{
  font-family: 'jura',sans-serif;
  font-size: 14px;
}