.confirmPasswordDiv{
    background-color: #ffff;
    border-radius: 30px;
    margin: 20%;
    margin-top: 0%;
    padding: 2rem;    
}
.titulo{
   text-align: center;
    font-family: 'Jura', sans-serif;
    font-size: 2rem;
    color:  rgba(122, 93, 240);
    text-transform: uppercase;
}

.inputEmail{
    width: 30%;
}