.probability_container {
  background: #f7f4fc;
  min-height: 100vh;
  padding: 2rem;
}

.probability_container h2 {
  color: #3b2a66;
  text-align: left;
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 1.6rem;
}

.probability_card {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 2%;
}

.probability_content {
  flex: 1;
  padding: 2rem;
  background: #f2f0f6;
}

.probability_content h3 {
  color: #3b2a66;
  font-size: 1.4rem;
  margin-bottom: 2em;
}

.test_times {
  color: #6b6b6b;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.probability_body {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.chart_section {
  flex-basis: 30%;
  position: relative;
}

.chart_box {
  position: relative;
  width: 140px;
  height: 140px;
  margin: auto;
}

.chart_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: #6b21a8;
  font-weight: bold;
}

.probability_info {
  flex-basis: 70%;
}

.highlight {
  font-size: 1rem;
  color: #2d1b52;
  margin-bottom: 0.5rem;
}

.recommendation {
  color: #555;
  font-size: 0.9rem;
  margin-top: 0.8rem;
  margin-bottom: 1.2rem;
}

.probability_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view_options {
  color: #6b21a8;
  font-size: 0.9rem;
  text-decoration: none;
}

.view_options:hover {
  text-decoration: underline;
}

.test_btn {
  display: inline-block;
  text-decoration: none;
  background: #7b4ce0;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
}


.test_btn:hover {
  background: #5b38d2;
}

.probability_image {
  flex-basis: 35%;
  background: #fff;
}

.probability_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
