.divResetPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;;
    border-radius: 30px;
    background-color: #ffff;
    margin: 20%;
}
.titulo{
   text-align: center;
    font-family: 'Jura';
    font-size: 2rem;
    color:  rgba(122, 93, 240);
    text-transform: uppercase;
}
.inputEmail{
    width: 80%;
}