.nav_links {
   text-align: center;
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: bold;
}
.nav_inks a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
.btn_ver {
  background-color: #7d5cc6;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1.2rem;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn_ver:hover {
  background-color: #9a74e0;
}

.btn_cerrar {
  background-color: #8b5cf6;
  font-size: 1rem;
}

.btn_ cerrar:hover {
  background-color: #a17ff0;
}
.navbar{
    justify-content: left;
    background-color: #7d5cc6;
    padding: 10px 0;
}

.home_container {
  height: 100%;
  width: 100%;
  background-color: white;
  display: grid;
  flex-direction: column;
  font-family: 'Jura', sans-serif;
}

.home_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a884f7;
  padding: 1rem 2rem;
  height: 80px;
  position: relative;
}

.home_logo {
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  font-family: "Poppins", sans-serif;
  gap: 10px;
}

.logo_img {
  width: 70px;
  height: 50px;
  object-fit: contain;
  margin-right: 3px;
}

.logo_text {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 12px;
  color: #fff;
}

.home_buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn {
  background-color: #7d5cc6;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1.2rem;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #9a74e0;
}

.btn.cerrar {
  background-color: #8b5cf6;
}

.btn.cerrar:hover {
  background-color: #a17ff0;
}

.home_content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #444;
}

.banner_container {
  width: 100%;
  height: 200px;
  background-color: #c7affd;
  display: flex;
  justify-content: center;
  /* centra horizontalmente */
  align-items: center;
  /* centra verticalmente */
  position: relative;
}

.banner {
  width: 100%;
  height: 400px;
  background-color: #4CAF50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  top: -50px;
  /* mueve el banner 50px hacia arriba */
}

.test_title {
  text-align: center;
  font-family: 'Jura', sans-serif;
  margin-top: 20px;
  font-size: 2rem;
  color: #333;
  padding-left: 1rem;

}

.test_description {
  text-align: start;
  padding-left: 5rem;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;

}


.question_option input[type="radio"] {
  accent-color: #8b5cf6;
  /* mismo color violeta que tus botones */
  cursor: pointer;
  width: 30px;
  margin-left: -30%;
}

.question_option label {
  cursor: pointer;
  margin-left: 5%;
  margin-top: -10%;
}

.question_form {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 0.3rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

label {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: -10px;

}

.grid_container {
  display: grid;
  grid-template-columns: 1fr,2fr;
  gap: 10px;
  padding: 10px;

}

img.Ishihara {
  width: 20rem;
  height: 20rem;
  margin: 5%;
  margin-bottom: 0;
}

.subtitle {
  text-align: left;
  font-family: 'Jura', sans-serif;
  margin-top: 20px;
  font-size: 2rem;
  color: #333;
  padding-left: 9rem;
}

.h2_title {
  text-align: left;
  font-family: 'Jura', sans-serif;
  margin-top: 20px;
  font-size: 700;
  color: #333;
  padding-left: 1rem;

}

.services_list {
  font-family: 'Jura', sans-serif;
  font-size: 600;
  text-align: start;
  max-width: 800px;
  margin: 20px auto;
  padding-left: 5rem;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

.comments_p {
  padding-left: 1rem;
  padding-top: 6rem;
  font-size: 1.1rem;
  color: #555;
}

.button_div {
  padding: 10rem;

}

button {
  border-radius: 20px;
  height: 3rem;
  width: 8rem;
  margin: 30px;
}

.delete {
  background-color: #f56565;
  color: white;
  border: none;
  cursor: pointer;
}

.edit_optic {
  background-color: #785AB0;
  color: white;
  border: none;
  cursor: pointer;
}

.text_banner {
  position: absolute;
  top: 1px;
  /* Ajusta este valor para mover el texto verticalmente */
  left: 50%;
  transform: translateX(-50%);
  color: #FFFF;
  font-family: 'Jura', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background-color: rgba(56, 21, 84, 0.4);

}

p.test_info {
  text-align: start;
  padding-left: 5rem;
  font-size: 1.2rem;
  padding-right: 3rem;
}

div.info_test {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 1rem;
}

.test_question {
  padding-left: 40px;
  display: inline-block;
}
.question_option {
  margin-left: 10px;
}
radio{
  display: inline;
}
