.adminContainer {
  padding: 2rem;

}

.chartsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.chartContainer {
  height: 400px;
  max-width: 60vw;
  padding: 1rem;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #f9f9f9;
  position: relative;
}
