.adminContainer {
  padding: 2rem;

}

.chartsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.chartContainer {
  height: 400px;
  max-width: 60vw;
  padding: 1rem;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #f9f9f9;
  position: relative;
}

.reportButton {
  background: linear-gradient(90deg, #6a1b9a, #8e24aa);
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.reportButton:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #7b1fa2, #9c27b0);
}

.reportButton:disabled {
  background: #b39ddb;
  cursor: not-allowed;
}
