.titleAbsolute{
    text-align: center;
    top: 10px;
    left: 50%;
    font-size: 3rem;
    font-weight: bold;
    color: #4a307c;
    font-family: 'Jura', sans-serif;
}
.description{
    color: white;
    font-family: 'Jura', sans-serif;
    text-align: center;
}
.title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color:#7b47db;
    font-family: 'Jura', sans-serif;
}
.buttonVer{
    background-color: rgb(85, 94, 170);
    color: white;
    font-family: 'Jura', sans-serif;
    margin: 1%;
    width: 30%;
}
.buttonRechazar{
    background-color: rgb(193, 64, 64);
    color: white;
    font-family: 'Jura', sans-serif;
    margin: 1%;
    width: 30%;
}
.buttonAprobar{
    background-color: #7b47db;
    color: white;
    font-family: 'Jura', sans-serif;
    margin: 1%;
    width: 30%;
}
div.container { 
    padding-top: 2%;
    padding: 3%;
    margin: 2%;
    background-color: white;
    border-radius: 20px;
}
table thead th {
    padding: 12px 16px; /* arriba/abajo 12px, izquierda/derecha 16px */
    text-align: left;   /* opcional, puedes usar center si quieres */
}
/* Para todas las celdas del tbody */
table tbody td {
    padding: 10px 14px; /* ajusta a tu gusto */
    font-family: 'Jura', sans-serif;    
}

table tbody td:last-child {
    padding-right: 20px;
}
.tableHeader{
    background-color: rgb(111, 79, 185);
    color: white;
    font-family: 'Jura', sans-serif;
    border-radius: 20px;
}
.table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}